@media (min-width:576px) and (max-width:767px) {
    .titolo {
    }

    titolo {
        font-family: 'Comfortaa', cursive;
        font-size: 21px;
    }

    .titolo {
    }
}

@media (min-width:576px) and (max-width:767px) {
    .titolo {
        font-family: 'Comfortaa', cursive;
    }
}

.titolo {
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
}